* {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
}

#showcase {
    /*background-image: url("https://source.unsplash.com/9HTgcn9MSWo/1600x900");*/
    background-image: url("../img/background.jpg");
    background-size: contain;
    background-position: center;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    /*color: #926329;*/
    color: #ffffff;
}

.name {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.passion {
    font-size: 15px;
    font-family: Courier New, Courier, monospace;
    /*font-family: 'Inconsolata', monospace;*/
}

.networks {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.networks .button-element {
    font-size: 18px;
    text-decoration: none;
    color: red;
    padding: 10px 20px;
    border-radius: 10px;
}

.networks .button-element:hover {
    color: #fff;
}

hr {
    width: 210px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: red;
}

.corner-ribbon {
    width: 200px;
    background: red;
    position: absolute;
    top: 50px;
    left: -43px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.footer {
    color: red;
    font-size:10px;
    position:absolute;
    bottom:0;
    height:60px;  
    font-family: 'Montserrat', sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}